---
Language:        Cpp
BasedOnStyle: Chromium
BraceWrapping:   
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
BreakStringLiterals: false
ColumnLimit:     80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
SpaceAfterCStyleCast: true
TabWidth:        8
UseTab:          Never
...

