*.o
*.rdb
*.pyc
*.dSYM
*.swp
.DS_Store
Makefile
zdb
zdb-test
*.make
build/*
obj/*
dist/*
*.xcworkspace
*.xcodeproj
*.mmdb
libgtest_main.a
libgtest.a
libcachehash.a
libiptree.a
browse.VC.db
zsearch_definitions/*
.vscode
